@using PersonWebApp.Models
@model List<Person>

@{
    ViewBag.Title = "Snurf";
}

<h2>Perons View</h2>

<table class="table table-hover">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var person in Model)
    {
        <tr>
            <td>@person.Id</td>
            <td>@person.Name</td>
        </tr>
    }
    </tbody>
</table>

<a class="btn btn-success" href="/Person/Create">Add</a>
