@using PersonWebApp.Models
@model List<PersonApplicationDll.Entities.Person>

@{
    ViewBag.Title = "Person App";
}

<h2>Perons View</h2>

<table class="table table-hover">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
    @foreach (var person in Model)
    {
        <tr>
            <td>@person.Id</td>
            <td>@person.Name</td>
            @if (@person.Status != null)
            {
                <td>@person.Status.Name</td>
            }
            else
            {
                <td>Unknown</td>
            }
            <td style="width: 100px"><a class="btn btn-warning" href="/Person/Edit/@person.Id">Edit</a></td>
            <td style="width: 100px"><a class="btn btn-danger" href="/Person/Delete/@person.Id">Delete</a></td>
        </tr>
    }
    </tbody>
</table>

<a class="btn btn-success" href="/Person/Create">Add</a>