@using PersonWebApp.Models
@model List<Person>

@{
    ViewBag.Title = "Snurf";
}

<h2>Perons View</h2>

<form action="/Person/StoreData" method="post">
    <label>Name: </label>
    <input type="text" value="" name="name"/>
    
    <label>Id: </label>
    <input type="number" value="" name="id"/>

    <button type="submit">Add</button>
</form>


@foreach (var person in Model)
{
    <h5>@person.Name - @person.Id</h5>
}


