@using GenericDLL.Entities

@{
    ViewBag.Title = "Ost";
}

<h2>BananKage jkdkjdj
    dslds</h2>

@foreach (var employee in (List<Employee>)ViewBag.Employees)
{
    <div style="color:red">@employee.Name</div>
}
