@using GenericDLL.Entities
@model List<Employee>
@{
    ViewBag.Title = "Ost";
}
<h2>Employees</h2>

<form action="/Employee/Create" method="post">
    <Label>Id:</Label>
    <input type="number" name="id"  />

    <Label>Name:</Label>
    <input type="text" name="name" />

    <button type="submit">Add</button>

</form>

@foreach (var employee in Model)
{
    <div style="color: red">
        @employee.Name
    </div>
}
